*
{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

.conatiner{
  width: 100vw;
  height: 100vh;
  background-image: url("https://th.bing.com/th/id/OIP.E9HNeBpYIP5SPFvXTQx8zQHaGC?pid=ImgDet&rs=1");
  background-position: center;
  background-size: cover;
  padding: 0 8%;
}
