*
{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

.conatiner{
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=mHMcXamF&id=808DC085E3103A9D7BC4F1660C07C7D7D2888FE6&thid=OIP.mHMcXamF75fe9mZh9j0aagHaD-&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.98731c5da985ef97def66661f63d1a6a%3frik%3d5o%252bI0tfHBwxm8Q%26riu%3dhttp%253a%252f%252fwww.publicdomainpictures.net%252fpictures%252f40000%252fvelka%252ffluffy-clouds.jpg%26ehk%3dAmz%252bdk6zKakKB%252fg3GBqiFnOoMHdmlrTTxboOl4Mt8pc%253d%26risl%3d%26pid%3dImgRaw%26r%3d0&exph=1030&expw=1920&q=Image&simid=607990395297025683&FORM=IRPRST&ck=BE40E0F4456BB3F9DFDC109622168113&selectedIndex=1");
  background-position: center;
  background-size: cover;
  padding: 0 8%;
}
