*
{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

.conatiner{
  width: 100vw;
  height: 100vh;
  background-image:url(./imagef.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
}
